/*Fint*/
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
/*Google Sans*/

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
/*Noto Sans(kor)*/

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*Namum Square(kor)*/

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');/*Courier Prime*/

@font-face { /*Ria*/
    font-family: 'Ria';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@keyframes logo_rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes logo_rotate_rev{
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul, ol{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  height: 100%;
}

/*--------------------header--------------------*/
header{
  width: 100%;
  height: 70px;
  background: #999;

  position: fixed;
  left: 0px;
  top: 0px;

  display: block;

  z-index: 10;
}
/*site name*/
header .title>a{ /*상단 바 mememuum 글자*/
  font: 30px/1 "Ria", "arial";
  letter-spacing: 1px;
  color: #e00;

  position: absolute;
  left: 20px;
  top: 20px;
}
/*bar icon*/
header .title_icon>ul{ /*상단 바 아이콘 영역*/
  display: flex;
  float: right;

  position: absolute;
  right: 0px;
  top: 15px;
}
header .title_icon ul li{ /*상단 바 아이콘 li*/
  content: "";
  display: block;
  clear: both;
}
header .title_icon ul li a{ /*상단 바 아이콘 li a*/
  font-size: 25px;
  color: #fff;

  margin-right: 25px;

  transition: 0.5s;
}

header .title_icon ul li:nth-of-type(1) a:hover{
  font-size: 30px;
  color: red; 
}
header .title_icon ul li:nth-of-type(2) a:hover{
  font-size: 30px;
  color: black;
}

/*--------------------main--------------------*/
main{
  box-sizing: border-box;
}
main figure{ /*1page 영역*/
  width: 100%;
  height: calc(100vh);

  position: relative;
  left: 0px;
  top: 70px;

  background: black;

  box-sizing: border-box;

  /*visibility: hidden;*/
}
main figure::after{
  content: "";
  display: block;
  clear: both;
}
main figure video{ /*1page 영역 배경 영상*/
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;

  display: block;
}
main figure h1{ /*1page mememuum글자*/
  font: 85px "Ria","arial";
  color: red;
  opacity: 0.6;

  position: absolute;
  top: 80px;
  left: 20px;

  transition: 1.0s;
}
main figure h1:hover{
  opacity: 1.0;
}

main figure span{ /*1page in Insanity 글자*/
  font: 80px "Google Sans","arial";
  color: white;

  position: absolute;
  top: 190px;
  left: 24px;
}

main figure div.figure_button{ /*1page View more...버튼*/
  width: 200px;
  height: 75px;

  border: 1px solid white;
  border-radius: 15px;
  background: none;

  position: absolute;
  left: 24px;
  top: 370px;

  transition: 0.7s;
}

main figure div.figure_button a{ /*View more...버튼 글자*/
  font: 25px "Google Sans";
  color: white;

  cursor: default;

  position: absolute;
  left: 25px;
  top: 15px;

  transition: 0.7s;
}

main figure div.figure_button:hover{
  background-color: white;
  border-radius: 0%;
}
main figure div.figure_button:hover a{
  font-weight: bold;
  color: black;

  left: 23px;
}

/*article 01, page2*/
main article.intro{
  width: 100%;
  height: calc(100vh - 70px);

  padding-left: 20px;

  background: #000;

  position: relative;
  left: 0px;
  top: 0px;

  display: block;
}
main article.intro::after{
  content: '';
  display: block;
  clear: both;
}
main article.intro h2{ /*'아싸니티의 시작' 텍스트*/
  font: bold 60px "Nanum Square","arial";
  color: yellow;

  padding-top: 150px;
  text-align: center;

  transition: 0.5s;
}
main article.intro h2:hover{
  font-size: 75px;
  color: #fff;
}

main article.intro p{ /*본문*/
  font: normal 25px "Nanum Square","arial";
  color: yellow;

  padding-top: 50px;
  text-align: center;
  line-height: 1.5;

  transition: 0.5s;
}

/*cretor, 3page*/
main article.creator{
  width: 100%;
  height: calc(100vh - 70px);
  background: linear-gradient(135deg, #500, #d00);

  position: relative;

  padding: 60px;
  
  display: block;
}
main article.creator h2{
  display: flex;
}
main article.creator h2 i{ /*youtube로고*/
  font-size: 75px;
  color: #fff;
  
  margin-right: 15px;
  margin-bottom: 30px;

  transition: 0.5s;
}
main article.creator h2 p{ /*youtube옆 'mememuum youtube'텍스트*/
  font: bold 75px/1 "Google Sans";
  color: #fff;
}

/*유튜브로고 회전*/
main article.creator h2 i:hover{
  animation: logo_rotate cubic-bezier(0,-0.15,0,.99) 1.0s;
}

main article.creator span{
  font: normal 45px/1 "Nanum Square","Google Sans";
  float: left;
}
main article.creator span p.molu{
  font: bold 100px/1.2 "Nanum Sqaure","Google Sans"; 
  color: #0cc;

  margin-bottom: 15px;

  transition: 0.5s;
}
main article.creator span p.molu:hover{
  color: rgb(0, 188, 0);

  cursor: no-drop;
}
main article.creator span p.partyAniamls{
  font: bold 90px/1.2 "Nanum Square","Google Sans";
  color: rgb(255, 197, 158);

  margin-bottom: 15px;
}

main article.creator video.molu_video{ /*molu.mp4 영상*/
  width: 30vw;
  height: 30vh;

  position: absolute;
  right: 70px;
  top: 180px;

  object-fit: cover;
}
/* molu영상 오른쪽 바
main article.creator video.molu_video::after{

}*/

/*played game article, 4page*/
main article.played_game{
  width: 100%;
  height: calc(100vh - 70px);
  background: linear-gradient(80deg, #002, #000);

  padding: 50px;

  display: block;
}

main article.played_game .played_game_title{ /*4page 타이틀*/
  width: 100%;
  height: 10%;

  font: bold 60px/1 "Google Sans","arial";
  color: #fff;

  display: flex;
}
main article.played_game .played_game_title p{
  font-family: 'Ria','arial';
  color: #d00;

  margin-right: 5px;
  margin-bottom: 20px;
}

main article.played_game div.steam{ /*steam영역*/
  width: 100%;
  height: 45%;
}
main article.played_game div.steam h2{
  display: flex;
}
main article.played_game div.steam h2 i{ /*steam로고*/
  font-size: 55px;
  color: #fff;

  margin-right: 15px;
}
main article.played_game div.steam h2 p{/*steam로고 옆 텍스트*/
  font: normal 50px "Google Sans";
  color: #fff;
}

main article.played_game .steam_game_logo{ /*steam 게임 로고*/
  display: flex;
}
main article.played_game .steam_game_logo img{
  width: 240px;
  height: 135px;

  margin-top: 45px;
  margin-right: 10px;

  object-fit: contain;

  transition: 0.7s;
}
main article.played_game .steam_game_logo img:hover{
  width: 320px;
  height: 220px;
}

main article.played_game div.epicGames{ /*epic영역*/
  width: 100%;
  height: 45%;
}
main article.played_game div.epicGames h2{
  display: flex;
}
main article.played_game div.epicGames h2 img{ /*epic 로고 사진*/
  width: 55px;
  height: 60px;

  display: flex;

  
  margin-right: 15px;
  margin-left: 5px;
}
main article.played_game .epic_game_logo img{
  width: 240px;
  height: 135px;

  margin-top: 45px;
  margin-right: 10px;

  object-fit: contain;

  transition: 0.7s;
}
main article.played_game .epic_game_logo img:hover{
  width: 320px;
  height: 220px;
}
main article.played_game div.epicGames h2 p{ /*epic로고 옆 텍스트*/
  font: normal 50px "Google Sans";
  color: #fff;
}

/*--------------------footer--------------------*/
footer{
  width: 100%;
  height: 120px;

  background: #fff;

  padding: 20px;

  position: absolute;
  left: 0px;
}
footer .footer_insanity{
  font: bold 35px/1 'Nanum Square','arial';
  color: #000;
}
footer .footer_maker{
  font: normal 25px/1 'Nanum Square','arial';
  color: #717171;

  margin-top: 8px;
}


/*창크기 변화*/
@media screen and (max-width:559px) { /*mobile*/
  /*main, 1page*/
  main figure h1{
    font-size: 55px;

    text-align: center;
  }
  main figure span{
  font-size: 50px;

  position: absolute;
  top: 150px;
  left: 24px;
  }

  /*2page*/
  main article.intro h2{ /*'아싸니티의 시작' 텍스트*/
  font-size: 45px;
  }
  main article.intro h2:hover{
    font-size: 50px;
    color: #fff;
  }
  main article.intro p{ /*2page 본문*/
    font-size: 15px;

    margin-top: 55px;
  }

  /*3page*/
  main article.creator{
    padding: 20px;
  }
  main article.creator h2 i{ /*youtube로고*/
    font-size: 50px;
    color: #fff;
    
    margin-bottom: 25px;
  }
  main article.creator h2 p{ /*youtube옆 'mememuum youtube'텍스트*/
    font-size: 35px;

    margin-top: 5px;
  }

  main article.creator span{
  font-size: 45px;
  }

  main article.creator span p.molu{
    font-size-adjust: 70px; 

    margin-bottom: 15px;
  }
  main article.creator span p.partyAniamls{
    font-size: 70px;
    color: rgb(255, 197, 158);

    margin-bottom: 15px;
  }

  /*4page, played games*/
  /*footer*/
}